extends layout


block content
    
    <!-- NAVIGATOR -->
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
            a(herf= "#").navbar-brand
            button(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler 
                span.navbar-toggler-icon

            div(id="navbarNavAltMarkup").collapse.navbar-collapse
                .navbar-nav
                    a(href="/infos").nav-item.nav-link.text-uppercase.active ข้อมูลการติดตั้ง
                    a(href="/infos3").nav-item.nav-link.text-uppercase ข้อมูลการติดตั้ง 3 เฟส
                   
                    a(href="/pvs").nav-item.nav-link.text-uppercase PV MODULES
                    a(href="/inverters").nav-item.nav-link.text-uppercase INVERTERS
                    a(href="/inverters3").nav-item.nav-link.text-uppercase INVERTERS 3 Phase
                    a(href="/loads").nav-item.nav-link.text-uppercase LOAD PROFILE
   
    .container

    .container
        .row
            
            .col-12.col-sm-6

                br
                h1 ข้อมูลการติดตั้ง
                br
                form(action='/prints', method="post")
                    .row
                        .form-group.col-8
                            label(for="") ชื่อโครงการ 
                            select(id="nameproject9", class="form-control" name='nameproject9' onclick="process9()")
                                option(value='' selected)
                                each info in infos
                                    option(value=info ) #{info.project}             
                        .form-group.col-12
                            br
                            <h6>รายละเอียดอื่นๆ : <span id='Description9'></span></h5>
                            <h6>อาคารประเภท : <span id='type9'></span></h5>
                            <h6>ประเภทผู้ใช้ไฟ : <span id='users9'></span></h5>
                            <h6><span id='timeunit9'></span></h5>   
                            <h6>ซื้อไฟ/หน่วย : <span id='bath19'></span></h5>
                            <h6>ขายไฟ/หน่วย : <span id='bath29'></span></h5> 
                            <h6>อุณหภูมิต่ำสุด : <span id='Tem_min9'></span></h5>
                            <h6>อุณหภูมิสูงสุด : <span id='Tem_max9'></span></h5>
                            <h6>อุณหภูมิบริเวณอินเวอร์เตอร์สูงสุด : <span id='Tem_max99'></span></h5>
                            <h6>จังหวัด : <span id='Province9'></span></h5>
                            <h6>Peak Sun Hours : <span id='PSH9'></span></h5>
                            <h6>มุมอะซิมุท : <span id='Azimuth9'></span></h5>
                            <h6>มุมเงย : <span id='Altitute9'></span> </h5>
                            <h6>ความเข้มแสงอาทิตย์เฉลี่ยต่อปี : <span id='Hdts9'></span></h5>
                            <h6>แผงโซล่าเซลล์ : <span id='PV_module9'></span></h5>
                            <h6>จำนวนแผงโซล่าเซลล์ : <span id='Pvs19'></span></h5>
                            <h6>ขนาดมิเตอร์ : <span id='Meter9'></span></h5>
                            <h6>พื้นที่ติดตั้ง : <span id='Area9'></span></h5>
                        .form-group.col-12
                            hr
                            h1 การจัดสตริง   
                            <h6>อินเวอร์เตอร์ : <span id='inverter9'></span></h5>
                            <h6>จำนวน : <span id='numberinv9'></span></h5>
                            <h6>ชุดที่ 1 : <span id='jadstring1'></span></h5>
                            <h6>ชุดที่ 2 : <span id='jadstring2'></span></h5>
                            <h6>ชุดที่ 3 : <span id='jadstring3'></span></h5>
                            <h6>เหลือแผง : <span id='sas9'></span></h5>
                            <h4>เงื่อนไขการจัดสตริง</h4>
                            <h6>จำนวนสตริงต่อ MPPT สูงสุด : <span id='string_inmax9'></span></h5>
                            <h6>จำนวนแผงต่อสตริง : <span id='pv_st9'></span></h5>
                            <h6>*สตริงที่ต่อเข้า MPPT เดียวกันแต่ละสตริงต้องมีจำนวนแผงเท่ากัน</h6>
                            
                            
                        .form-group.col-12
                            hr
                            h1 ประมาณการลงทุน
                            <h6>กำลังสูงสุดของด้านดีซี : <span id='pmaxdc9'></span></h5>
                            <h6>ประมาณการลงทุน : <span id='invest9'></span></h5>
                            <h6>ปริมาณไฟฟ้าที่ผลิตได้ : <span id='energy99'></span></h5>
                            <h6>รายได้  : <span id='income9'></span></h5>
                            <h6>ระยะเวลาคุ้มทุน : <span id='timegood9'></span></h5>
                                
            .col-12.col-sm-5.offset-sm-1
                        .form-group.col-12
                            br
                            h2 รายละเอียดการเดินสายไฟ
                            <h4>PV STRING</h4>
                            <h6>วิธีเดินสายจากแผงไปกล่องรวมสาย DC : </h5>
                            <h6><span id='metstring'></span></h5>
                            <h6>ระยะ : <span id='longstring'></span></h5>
                            <h6>FUSE : <span id='fuse9'></span></h5>
                            <h6>PV1-F : <span id='wirestring'></span></h5>
                            <h6>แรงดันตกในสายไฟ : <span id='vdropstring9'></span></h5>
                            <h6>เปอร์เซ็นต์แรงดันตก : <span id='pervdropstring9'></span></h5>
                            <h6>กำลังสูญเสีย/อินเวอร์เตอร์ : <span id='plossstring9'></span></h5>
                            <h6>เปอร์เซ็นต์กำลังสูญเสีย : <span id='perplossstring9'></span></h5>
                            hr
                            <h4>PV ARRAY</h4>
                            <h6>CB DC : <span id='cbdcarray'></span></h5>
                            <h6>PV1-F : <span id='wirearray'></span></h5>
                            <h6>สายดินที่โครงโลหะ : <span id='groundarray1'></span></h5>
                            <h6>สายต่อหลักดิน : <span id='groundarray2'></span></h5>
                            hr
                            <h4>INVERTER</h4>
                            <h6>ชนิดสายไฟ Inverter ไป AC Solar หรือ MDB : </h5>
                            <h6><span id='typewireinverter'></span></h5>
                            <h>วิธีเดินสาย : <span id='metinverter'></span></h5>
                            <h6>ระยะ : <span id='longinverter'></span></h5>
                            <h6>CB Inverter : <span id='cbinverter'></span></h5>
                            <h6>ขนาดสายไฟ : <span id='wireinverter'></span></h5>
                            <h6>สายดินที่อินเวอร์เตอร์ : <span id='groundinverter'></span></h5>
                            <h6>แรงดันตกในสายไฟ : <span id='vdroparray9'></span></h5>
                            <h6>เปอร์เซ็นต์แรงดันตก : <span id='pervdroparray9'></span></h5>
                            <h6>กำลังสูญเสีย : <span id='plossarray9'></span></h5>
                            <h6>เปอร์เซ็นต์กำลังสูญเสีย : <span id='perplossarray9'></span></h5>
                            hr
                            <h4>MDB</h4>
                            <h6>ชนิดสายไฟจาก AC Solar ไป MDB : </h5>
                            <h6><span id='typewiremdb'></span></h5>
                            <h6>วิธีเดินสาย : <span id='metmdb'></span></h5>
                            <h6>ระยะ : <span id='longmdb'></span></h5>
                            <h6>CB MDB : <span id='cbmdb'></span></h5>
                            <h6>ขนาดสายไฟ : <span id='wiremdb'></span></h5>
                            <h6>สายดิน : <span id='groundmdb'></span></h5>
                            <h6>แรงดันตกในสายไฟ : <span id='vdropmdb9'></span></h5>
                            <h6>เปอร์เซ็นต์แรงดันตก : <span id='pervdropmdb9'></span></h5>
                            <h6>กำลังสูญเสีย : <span id='plossmdb9'></span></h5>
                            <h6>เปอร์เซ็นต์กำลังสูญเสีย : <span id='perplossmdb9'></span></h5>
                            br
                            br
                            p <b> Program By Kongphop  Charoenkit</b>
                            p <b> Email : kongphop.cha@gmail.com</b>        
                              
        br
        br               
        br
        br
        br
        .row
                               
            .col-12.col-sm-6            
                                
                
                
            .col-12.col-sm-6
                            
                br
                <div class='no-print'>
                <a href="javascript:window.print()"  class='btn btn-secondary' >PRINT</a>
                </div>
                br
        
        br
        br
        
        
        .row
            
            <div class="gallery2">
                <div>
                    <img src="images/modelfinal2.PNG" alt="">
                    <p><span id='image1'></span></p>
                    <p><span id='image2'></span></p>
                    <p><span id='image3'></span></p>
                    <p><span id='image4'></span></p>
                    <p><span id='imgground1'></span></p>
                    <p><span id='imgground2'></span></p>

                    
                   

                    <p><span id='image5'></span></p>
                    <p><span id='image6'></span></p>
                    <p><span id='image7'></span></p>
                    <p><span id='image8'></span></p>
                    <p><span id='image9'></span></p>
                    <p><span id='image10'></span></p>
                    <p><span id='image11'></span></p>
                    <p><span id='imgground3'></span></p>
                    <p><span id='image12'></span></p>
                    <p><span id='image13'></span></p>
                    <p><span id='image14'></span></p>
                    <p><span id='imgground4'></span></p>
                    <p><span id='image15'></span></p>
                    <p><span id='image16'></span></p>
                    <p><strong id='sample'>แผนภาพอย่างง่าย</strong></p>
                    
                </div>
                
            </div>
        .row
            <p><b> Program By Kongphop  Charoenkit, Email : kongphop.cha@gmail.com</b></p>
        br


                                
    